
.wrapper {
  margin: 2rem auto;
  width: 25vw;
  height: 67vh;
  background-color: rgb(210,180,140);
  color: white;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}

.form1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-details {
  height: 2.5rem;
  border-radius: 7px;
  border: none;
  outline: none;
}

.password {
  margin-top: 1rem;
}

.text {
  color:black;
  font-weight: bold;
}
.submit {
  height: 2.5rem;
  border-radius: 7px;
  background-color: #D8BFD8;
  color: black;
  margin-top: 1.5rem;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.reg {
  color: #42c9ca;
  cursor: pointer;
  text-decoration: none;
}

.num {
  color: #42c9ca;
}

.text-message {
  height: 30vh;
}