.navBar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #625960;
  height: 10.5vh;
  width: 100%;
  
  
}
.logo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-left: 4rem;
}

.links {
  color: #d0c0d0;
}
