.product {
  width: 20vw;
  height: 45vh;
  background-color: whitesmoke;
  border-radius: 7px;
  margin-right: 2rem;
  box-shadow: 0 0 3px 3px;
  cursor: pointer;

}
.product:hover {
  background-color:  rgb(210,180,140);
}